.ql-editor {
    max-height: 100% !important; 
}


.darkMode .ql-toolbar .ql-stroke {
    fill: none;
    stroke: #ccc;
}

.darkMode .ql-toolbar .ql-fill {
    fill: #ccc;
    stroke: none;
}

.darkMode .ql-toolbar .ql-picker {
    color: #fff;
}

.darkMode .ql-toolbar .ql-formats .ql-picker .ql-picker-options{
    background-color: #1a1a1a;
    border-radius: 5px;
    border-color: #242424;
}

.darkMode .ql-container .ql-editor {
    color: #fff;
}