.css-6ad41-MuiButtonBase-root-MuiToggleButton-root.Mui-selected{
    color: #2077af !important;
    background-color: rgb(0 0 0 / 8%) !important;
    font-size: 1.2rem;
}

.css-qhqh0o-MuiButtonBase-root-MuiCheckbox-root svg{
    width: 1.5rem !important;
    height: 1.5rem !important;
    border: none !important;
}

