#focelda-virtualized-grind, #focelda-virtualized-table {
    width: 100%;
    height: 100%;
}

.css-2qdh5t-MuiButtonBase-root-MuiCheckbox-root .MuiSvgIcon-root {
    width: 1.55rem !important;
    height: 1.55rem !important;
    border: none !important;
}

.textField-editAdvicedPrice input {
    padding: 6px !important;
    max-width: 150px;
}

.no-spin input::-webkit-inner-spin-button,
.no-spin input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.css-gbfn3m-MuiButtonBase-root-MuiCheckbox-root .MuiSvgIcon-root, .css-1ekj4xz-MuiButtonBase-root-MuiCheckbox-root .MuiSvgIcon-root {
    width: 1.55rem !important;
    height: 1.55rem !important;
    border: none !important;
}